@import url(https://fonts.googleapis.com/css?family=Poiret+One);

body{
    padding: 0;
    margin: 0;
}

#textoCentrado{
    font-family: 'Poiret One', cursive;
    font-size: 40px;
    position: absolute;
    top: 40%; 
    left: 48%;
    transform: translate(-40%, -48%);
}

footer{
    font-family: 'Poiret One', cursive;
    font-size: 30px;
    color: #33CD7F;
    width: 50%;
    position: fixed;
    top: 65%; 
    left: 25%;
}

a{
    color:black;
}